body {
  margin: 0;
  background-color: #212121;
  color: white;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 5rem;
  margin-bottom: 25px;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-content {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-page-button {
  background-color: transparent;
  color: teal;
  border: 1px solid teal;
  height: 40px;
  width: 200px;
  outline: none;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 200ms ease;
}

.main-page-button:hover {
  background-color: teal;
  color: #212121;
  transform: scale(1.05);
}

.h1-span {
  color: teal;
}

.navbar-div {
  width: 100%;
  background-color: #202020;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.navbar {
  margin-left: 1450px;
  display: flex;
  list-style-type: none;
}

.navbar-item:hover {
  color: teal;
}

.navbar-item {
  margin-right: 60px;
  height: 100%;
}

.navbar-item-link {
  color: white;
  transition: 200ms ease;
  text-decoration: none;
}

.navbar-item-link:hover {
  color: teal;
}

label:hover {
  cursor: pointer;
}
